////////////////////////////////////////
//          MEDICAL CONDITIONS
////////////////////////////////////////

mixin toggle(name, i18n)
    .row
        label.question(for=name) #{__(i18n)}
        .toggle-wrapper
            input/.cbx-toggle.main(name=name, type="checkbox", data-toggle="toggle",  data-size="large", data-on="#{__('mgrp-toggle-on')}", data-off="#{__('mgrp-toggle-off')}", data-onstyle="success")



// Panel
#panel-2.input-panel.center-aligned(name='medical_conditions', style={display: 'none'})
    h4 #{__('mgrp-header-medical-conditions')}
    p.explanation #{__('mgrp-header-medical-conditions-explanation')}
    br
    +toggle('metal_implant', 'mgrp-lbl-metal-implant')
    +toggle('pacemaker', 'mgrp-lbl-pacemaker')
    +toggle('medication_pump', 'mgrp-lbl-medication-pump')
    +toggle('stroke', 'mgrp-lbl-stroke')
    +toggle('epilepsy', 'mgrp-lbl-epilepsy')
    +toggle('long_term_care', 'mgrp-lbl-long-term-care')
