////////////////////////////////////////
//          PERSONAL DATA
///////////////////////////////////////

// Insert form-group: label + input
mixin input_field(field, i18nAttr, isMandatory, isSmall)
    - var form_group_class =  (isSmall) ? 'form-group sm' : 'form-group';
    - var form_control_class = (isMandatory) ? 'form-control mandatory' : 'form-control';

    div(class=form_group_class)
        label(for=field) #{__(i18nAttr)}
            if(isMandatory)
                i.fa.fa-asterisk
        input(class=form_control_class, name=field, type='text')
        //span.glyphicon.glyphicon-remove.form-control-feedback(aria-hidden="true")
        //span.sr-only error


// Insert country option
mixin country_option(name)
    - var selected = (name === 'Germany') ? true : false;
    option(value=name, selected=selected)=name


// Panel
#panel-1.input-panel.center-aligned(name='personal_data', style={display: 'none'})
    //h4(data-i18n='mgrp-header-personal-data') Personal Data
    h4 #{__('mgrp-header-personal-data')}
    p.explanation #{__('mgrp-header-personal-data-explanation')}
        i.fa.fa-asterisk
    br
    .form
        // 1st row
        //.row
        +input_field('first_name', 'mgrp-lbl-first-name', true)
        +input_field('last_name', 'mgrp-lbl-last-name', true)
        // 2nd row
        //.row
        .form-group
            label.default(for='selCountry') #{__('mgrp-lbl-country')}
                i.fa.fa-asterisk
            select#selCountry.form-control.mandatory(name='country')
                each country in countries
                    +country_option(country)

        +input_field('city', 'mgrp-lbl-city', true)
        // 3rd row
        //.row
        +input_field('street', 'mgrp-lbl-street', false)
        +input_field('number', 'mgrp-lbl-number', false, true)
        +input_field('zip', 'mgrp-lbl-zip', false, true)
        // 4rd row
        //.row
        +input_field('email', 'mgrp-lbl-email', true)
        +input_field('phone', 'mgrp-lbl-phone', true)

        - var errors = ["mandatory-fields", "illegal-characters", "not-capitalized", "invalid-email", "invalid-phone"]
        each error in errors
            - str = 'mgrp-error-'+error
            p.error(id='error-'+error, style={ display: 'none' }) #{__(str)}

        //p#error-.error.fade



