////////////////////////////////////////
//          INJURY
////////////////////////////////////////
#panel-3.input-panel.center-aligned(name='injury_details', style={display: 'none'})
    h4 #{__('mgrp-header-injury')}
    br
    // 1st row
    .row
        label.question.shorter(for="date_injury") #{__("mgrp-lbl-date-of-injury")}
        #dtpDateInjury.input-group.date.datetimepicker
            input/.form-control.input-lg(name='date_injury', type='text')
            span.input-group-addon:  span.glyphicon.glyphicon-calendar

    // 2nd row
    .row
        label.question(for="accidental_injury") #{__("mgrp-lbl-caused-by-accident")}
        .toggle-wrapper
            input/.cbx-toggle.main(name='accidental_injury', type="checkbox", data-toggle="toggle",  data-size="large", data-on="#{__('mgrp-toggle-on')}", data-off="#{__('mgrp-toggle-off')}", data-onstyle="success")
