////////////////////////////////////////
//          MISCELLANEOUS
////////////////////////////////////////

// Mixins
mixin secondary_toggle(question, opt)
    - var question_i18n = 'mgrp-misc-'+question+'-opt-'+opt
    - var opt_i18n = 'mgrp-misc-role-'+opt
    .row
        label.question.secondary #{__(question_i18n)}
        input/.cbx-toggle.misc(question=question, option=opt, option-show="#{__(opt_i18n)}" type="checkbox", data-toggle="toggle", data-on="#{__('mgrp-toggle-on')}", data-off="#{__('mgrp-toggle-off')}", data-onstyle="success")


// Panel
#panel-7.input-panel.center-aligned(name='misc', style={display: 'none'})
    h4 #{__('mgrp-header-misc')}
    br
    .misc-list-container
        h5.misc-question #{__('mgrp-misc-q1')}
        +secondary_toggle('q1', 'doctor', 'mgrp-misc-q1-opt-doctor')
        +secondary_toggle('q1', 'caregiver', 'mgrp-misc-q1-opt-caregiver')
        +secondary_toggle('q1', 'relative', 'mgrp-misc-q1-opt-relative')
        +secondary_toggle('q1', 'internet', 'mgrp-misc-q1-opt-internet')
        +secondary_toggle('q1', 'tv', 'mgrp-misc-q1-opt-tv')
        +secondary_toggle('q1', 'other', 'mgrp-misc-q1-opt-other')
        br
        h5.misc-question #{__('mgrp-misc-q2')}
        +secondary_toggle('q2', 'self', 'mgrp-misc-q2-opt-myself')
        +secondary_toggle('q2', 'relative', 'mgrp-misc-q2-opt-relative')
        +secondary_toggle('q2', 'caregiver', 'mgrp-misc-q2-opt-caregiver')
