////////////////////////////////////////
//          PRIORITIES AND NEEDS
////////////////////////////////////////

// Mixins
mixin radio_btn(name, i18n)
    .row
        label.question(for=name) #{__(i18n)}
        .rd-priority.btn-group.btn-group-lg(name=name, opt-show='#{__(i18n)}', data-toggle='buttons')
            label.btn.btn-default.btn-lg
                input(type='radio', value='1', autocomplete='off')
                |   1
            label.btn.btn-default.btn-lg
                input(type='radio', value='2', autocomplete='off')
                |   2
            label.btn.btn-default.btn-lg
                input(type='radio', value='3', autocomplete='off')
                |   3


// Panel
#panel-6.input-panel.center-aligned(name='needs', style={display: 'none'})
    h4 #{__('mgrp-header-needs')}
    p.explanation #{__('mgrp-header-needs-explanation-p1')}
    br
    p.explanation #{__('mgrp-header-needs-explanation-p2')}
    p#error-did-not-select-3-options.error.pull-right(style={ display: 'block' }) #{__('mgrp-error-did-not-select-3-options')}
    br
    +radio_btn('eat_and_drink', 'mgrp-needs-eat-and-drink')
    +radio_btn('body_hygiene', 'mgrp-needs-body-hygiene')
    +radio_btn('move_wheelchair', 'mgrp-needs-move-wheelchair')
    +radio_btn('get_dressed', 'mgrp-needs-get-dressed')
    +radio_btn('transfer_from_bed_to_wheelchair', 'mgrp-needs-transfer-from-bed-to-wheelchair')
    +radio_btn('use_gadget', 'mgrp-needs-use-gadget')
    +radio_btn('catheterisation', 'mgrp-needs-catheterisation')
    +radio_btn('drive_car', 'mgrp-needs-drive-car')
    +radio_btn('write', 'mgrp-needs-write')
    +radio_btn('open_door', 'mgrp-needs-open-door')

    br
    .row
        label.question(for='new_adl_task') #{__('mgrp-needs-new-adl-task')}
        input.form-control.for-question.input-lg(type='text' name='new_adl_task')
