extends layout

//// mixins

mixin flag(loc)
    if(loc === locale)
        li.flag-container.active:  a.flag(class='flag-'+loc+' active', href='/registration-platform/faq/?lang='+loc, hreflang=loc)
    else
        li.flag-container:  a.flag(class='flag-'+loc, href='/registration-platform/faq/?lang='+loc, hreflang=loc)

mixin question(n)
    - var question_title = "mgrp-faq-question"+n
    i.fa.fa-question-circle
    a(href="#q"+n) #{__(question_title)}
    br


mixin answer(n)
    //a(name='q'+n)
    - var question = 'mgrp-faq-question'+n;
    - var answer = 'mgrp-faq-answer'+n;
    .inner
        h4        
            a(name='q'+n)
            i.fa.fa-check
            label #{__(question)}
        //p #{__(answer)}
        p(data-i18n=answer)
        a.up(href='#questions') #{__('mgrp-faqs-back-up')}


//// blocks

block tab-faq
    li.active:  a(href='#') #{__('mgrp-nav-faq')}

block flags
    +flag('en')
    +flag('de')


block content
    #faq.nav-panel
        .row
            .panel-container
                div.question-container
                    a(name='questions')
                    .question-list
                        each val in [1, 2, 3, 4, 5]
                            +question(val)
                    img(src="/media/np-user.png")
        
                .answer-container
                    each val in [1, 2, 3, 4, 5]
                        +answer(val)
    
    
    
block custom-js
    //-<!-- build:js (./public) /js/rp-faq.min.js -->
    script(src='/js/i18n-handler.js')
    script(src='/js/scrollto.js')
    //-<!-- endbuild -->
    script.
        (function($){
            $.i18nCustom({ path: '/i18n/', languages: ['en', 'de'], locale: $.cookie('lang') });

            var navigateTo = function(hash) {
                var hashPattern = /(#q)\d/;
                if(hashPattern.test(hash) || hash === '#questions'){
                    $('#faq').scrollTo('[name="' + hash.replace('#', '') + '"]');
                }
            };

            window.onhashchanged = function(){
                navigateTo(window.location.hash);
            }

            $(document).ready(function(){
                navigateTo(window.location.hash);
            });

        })(jQuery)

