extends layout

block content
	#home.nav-panel
		.row
			.title-wrapper
				h1.title #{__('mgrp-home-welcome-msg')}
		.row
			.intro.red-bg.animate.translate-left
				p.white-msg
					i.fa.fa-quote-left &nbsp;
					|	#{__('mgrp-home-message')}
					|	&nbsp;
					i.fa.fa-quote-right
				p.white-msg: i &nbsp;&nbsp; #{__('mgrp-home-team')}

		.message.green-bg.animate.translate-left
			p.white-msg #{__('mgrp-home-know-more')} &nbsp;
				a(href='http://moregrasp.eu', target='_blank') moregrasp.eu
		.row
			.video-container-outer.animate.translate-right
				.video-container
					video.demo(width='100%', height='100%', controls, autoplay, loop)
						source(type='video/mp4', src='http://urank.know-center.tugraz.at/demo/demo.mp4')


			//-.info-area
			.button-area
				a#btn-go-to-registration.btn.btn-primary-mg.btn-lg.reg-navigation(href='/registration-platform/register') #{__('mgrp-btn-go-to-registration')}

block custom-js
	script.
		$('.animate').addClass('active');
