extends layout

block content
  #register.nav-panel
    .panel-container.form-section
        include _register_0_terms_and_conditions
        include _register_1_personal_data
        include _register_2_medical_conditions
        include _register_3_injury_details
        include _register_4_current_abilities
        include _register_5_video_upload
        include _register_6_priorities_and_needs
        include _register_7_miscellaneous
        include _register_8_review
        include _register_submitted
      
    .panel-container.controls-section
        //- hide when currentPanel = 0
        #form-progress.progress(style={visibility: 'hidden'})
          #form-progress-bar.progress-bar.progress-bar-success(role='progressbar', aria-valuenow=progress, aria-valuemin='0', aria-valuemax='100', style={ width: progress+'%' })
            span.sr-only
        .progress-steps-container
            - var headers = ['personal-data', 'medical-conditions', 'injury', 'abilities', 'video', 'needs', 'misc'];
            - var stepWidth = parseFloat(100 / (headers.length));
            each header, i in headers
                - var header_title = 'mgrp-header-'+header+'-short'
                .progress-step(id='progress-step-'+(i+1), style={width: stepWidth+'%'})
                    a.step-label(href='#', hhref='#panel-'+(i+1)) #{__(header_title)}

        .button-area
            a#btn-start.btn.btn-move.btn-sizable.btn-primary-mg(href='#panel-1', style={display: 'none'}) #{__('mgrp-btn-start-registration')}
            a#btn-previous.btn.btn-move.btn-sizable.btn-default(href='#', style={display: 'none'}) #{__('mgrp-btn-previous')}
            a#btn-continue.btn.btn-move.btn-sizable.btn-default(href='#', style={display: 'none'}) #{__('mgrp-btn-continue')}
            a#btn-submit.btn.btn-move.btn-sizable.btn-primary-mg(, style={display: 'none'}) #{__('mgrp-btn-submit')}

  
block custom-js
    //-<!-- build:js (./public) /js/rp-register.min.js -->
    script(src='/js/helper.js')
    script(src='/js/field-validation.js')
    script(src='/js/i18n-handler.js')
    script(src='/js/rp/main.js')
    //-<!-- endbuild -->
