mixin input_field(field, i18nAttr, isSmall)
    - var label_class = 'default';
    - var input_class = 'form-control';
    - if(isSmall)
        - label_class += ' sm';
        - input_class += ' sm';
    label(class=label_class, for=field, data-i18n=i18nAttr)
    input(class=input_class, name=field, type='text')

mixin country_option(name)
    - var selected = (name === 'Germany') ? true : false;
    option(value=name, selected=selected)=name


// Personal Data
#panel-1.input-panel.center-aligned(name='personal_data', style={display: 'none'})
    h4(data-i18n='mgrp-header-personal-data') Personal Data
    br
    // 1st row
    .row
        +input_field('first_name', 'mgrp-lbl-first-name')
        +input_field('last_name', 'mgrp-lbl-last-name')
    // 2nd row  
    .row
        label.default(for='selCountry', data-i18n='mgrp-lbl-country') Country
        select#selCountry.form-control(name='country')
            each country in countries
                +country_option(country)

        +input_field('city', 'mgrp-lbl-city')
    // 3rd row  
    .row
        +input_field('street', 'mgrp-lbl-street')
        +input_field('number', 'mgrp-lbl-number', true)
        +input_field('zip', 'mgrp-lbl-zip', true)
    // 4rd row  
    .row
        +input_field('email', 'mgrp-lbl-email')
        +input_field('phone', 'mgrp-lbl-phone')
