mixin input_field(field, i18nAttr, placeholder, isSmall)
    - var label_class = 'default';
    - var input_class = 'form-control';
    - if(isSmall)
        - label_class += ' sm';
        - input_class += ' sm';

    label(class=label_class, for=field, data-i18n=i18nAttr)
    input(class=input_class, name=field, type='text', placeholder=placeholder)


// Personal Data
#panel-1.input-panel.center-aligned(name='personal_data', style={display: 'none'})
    h4(data-i18n='mgrp-header-personal-data') Personal Data
    br
    // 1st row
    .row
        +input_field('first_name', 'mgrp-lbl-first-name', 'John')
        +input_field('last_name', 'mgrp-lbl-last-name', 'Doe')
    // 2nd row  
    .row
        label.default(for='selCountry', data-i18n='mgrp-lbl-country') Country
        select#selCountry.form-control(name='country')
            option Austria
            option Germany
        +input_field('city', 'mgrp-lbl-city', 'Graz')
    // 3rd row  
    .row
        +input_field('street', 'mgrp-lbl-street', 'Inffeldgasse')
        +input_field('number', 'mgrp-lbl-number', '13', true)
        +input_field('zip', 'mgrp-lbl-zip', '8010', true)
    // 4rd row  
    .row
        +input_field('email', 'mgrp-lbl-email', 'john.doe@example.com')
        +input_field('phone', 'mgrp-lbl-phone', '+43 680 5555 999')
