extends layout


mixin flag(loc)
    if(loc === locale)
        li.flag-container.active:  a.flag(class='flag-'+loc+' active', href='/registration-platform/register/?lang='+loc, hreflang=loc)
    else
        li.flag-container:  a.flag(class='flag-'+loc, href='/registration-platform/register/?lang='+loc, hreflang=loc)


block css
  link(rel='stylesheet', href='/css/rp-style.css')
  // bower:css
  link(rel='stylesheet', href='/components/bootstrap-toggle/css/bootstrap-toggle.min.css')
  link(rel='stylesheet', href='/components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css')
  link(rel='stylesheet', href='/components/jquery-ui/themes/base/jquery-ui.min.css')
  link(rel='stylesheet', href='/components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css')
  // endbower


block tab-register
    li.active:  a(href='/registration-platform/register') #{__('mgrp-nav-register')}


block flags
    +flag('en')
    +flag('de')
//block i18n
    ul.nav.navbar-nav.navbar-right.flag-container
        li.active:  a.flag.flag-en.active(name='en', href='/registration-platform/register/?lang=en', hreflang='en')
        li:  a.flag.flag-de(name='de', href='/registration-platform/register/?lang=de', hreflang='de')

block content
  #register.nav-panel
    .panel-container.form-section
      include _register_step_0
      include _register_step_1
      include _register_step_2
      include _register_step_3
      include _register_step_4
      include _register_step_5
      include _register_step_6
      include _register_step_7
      include _register_submitted
      
    .panel-container.controls-section
        // hide when currentPanel = 0
        #form-progress.progress 
          #form-progress-bar.progress-bar.progress-bar-success(role='progressbar', aria-valuenow=progress, aria-valuemin='0', aria-valuemax='100', style={ width: progress+'%' })
            span.sr-only
        .progress-steps-container
            - var headers = ['personal-data', 'pre-injury', 'injury', 'abilities', 'video', 'misc'];
            - var stepWidth = parseFloat(100 / (headers.length));
            each header, i in headers
                - var header_title = 'mgrp-header-'+header+'-short'
                .progress-step(id='progress-step-'+(i+1), style={width: stepWidth+'%'})
                    a.step-label(href='#panel-'+(i+1)) #{__(header_title)}

        .button-area
            a#btn-start.btn.btn-primary-mg(href='#panel-1') #{__('mgrp-btn-start-registration')}
            a#btn-previous.btn.btn-default(href='#') #{__('mgrp-btn-previous')}
            a#btn-continue.btn.btn-default(href='#') #{__('mgrp-btn-continue')}
            a#btn-submit.btn.btn-primary-mg #{__('mgrp-btn-submit')}
    

  
block custom-js
    script(src='/js/helper.js')
    script(src='/js/field-validation.js')
    script(src='/js/i18n-handler.js')
    script(src='/js/rp/main.js')
